# Default Skiko CI
name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  macOS:
    # On `macos-15` UI tests blocked by a system popup with
    # "bash" is requesting to bypass the system private window picker and directly access your screen and audio.
    # TODO: Update once resolved
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v3
        name: 'Check out code'

      - uses: actions/setup-java@v3
        name: 'Set up JDK 21'
        with:
          distribution: 'adopt'
          java-version: '21'
          cache: 'gradle'

      - shell: bash
        name: 'Compile and run AWT tests'
        run: ./gradlew --stacktrace --info -Pskiko.native.enabled=true -Dskiko.test.onci=true -Dskiko.test.performance.enabled=false :skiko:awtTest

      - shell: bash
        name: 'Compile and run macOS x64 tests'
        run: ./gradlew --stacktrace --info -Pskiko.native.enabled=true -Dskiko.test.onci=true -Dskiko.test.performance.enabled=false :skiko:macosX64Test

      - shell: bash
        name: 'Publish to Maven Local, check AWT sample'
        run: |
          ./gradlew --stacktrace --info -Pskiko.native.enabled=true :skiko:publishToMavenLocal
          ./gradlew --stacktrace --info :SkiaAwtSample:installDist

      - shell: bash
        name: 'Publish Debug to Maven Local'
        run: |
          ./gradlew --stacktrace --info -Pskiko.native.enabled=true :skiko:publishToMavenLocal -Pskiko.debug=true

      - name: Upload Test Results
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: test-reports-macos
          path: |
            ./skiko/build/reports/tests
            ./skiko/src/jvmTest/screenshots/*_actual.png
          retention-days: 5

      - name: Test Summary
        uses: test-summary/action@v2
        with:
          paths: "./skiko/build/test-results/**/TEST-*.xml"
        if: always()

  iOS:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v3
        name: 'Check out code'

      - uses: actions/setup-java@v3
        name: 'Set up JDK 21'
        with:
          distribution: 'adopt'
          java-version: '21'
          cache: 'gradle'

      - name: 'Print the devices list'
        run: xcrun simctl list devices available --json

      # retrieve the device .udid to use in tests and store it in env var
      - name: 'Set Up Simulator UUID'
        run: |
          IOS_SIM_UUID=$(xcrun simctl list devices available --json | jq -r '.devices."com.apple.CoreSimulator.SimRuntime.iOS-18-4"[] | select(.name == "iPhone 16") | .udid') &&
          echo "IOS_SIM_UUID=$IOS_SIM_UUID" >> $GITHUB_ENV

      - name: 'Print Selected UUID'
        run: echo $IOS_SIM_UUID

      - name: 'Compile and run iOS x64 tests'
        uses: nick-fields/retry@v2
        with:
          max_attempts: 10
          timeout_minutes: 60
          shell: bash
          command: ./gradlew --stacktrace --info -Pskiko.native.enabled=true -Dskiko.test.onci=true -Dskiko.test.performance.enabled=false -Pskiko.iosSimulatorUUID="${{ env.IOS_SIM_UUID }}" :skiko:iosX64TestWithMetal

      # iosSimulatorArm64Test will build the binary but the tests will be skipped due to X64 host machine
      - shell: bash
        name: 'Compile iOS arm64 tests'
        run: ./gradlew --stacktrace --info -Pskiko.native.enabled=true -Dskiko.test.onci=true -Dskiko.test.performance.enabled=false :skiko:iosSimulatorArm64Test

      # TODO run iOS specific tests on iPhone simulator
      - shell: bash
        name: 'Publish to Maven Local'
        run: ./gradlew --stacktrace --info -Pskiko.native.enabled=true :skiko:publishToMavenLocal

      - name: Upload Test Results
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: test-reports-ios
          path: ./skiko/build/reports/tests
          retention-days: 5

  tvOS:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v3
        name: 'Check out code'

      - uses: actions/setup-java@v3
        name: 'Set up JDK 21'
        with:
          distribution: 'adopt'
          java-version: '21'
          cache: 'gradle'

      - shell: bash
        run: |
          ./gradlew --stacktrace --info -Pskiko.native.enabled=true -Dskiko.test.onci=true -Dskiko.test.performance.enabled=false :skiko:tvosX64Test
          # tvosSimulatorArm64Test will build the binary but the tests will be skipped due to X64 host machine
          ./gradlew --stacktrace --info -Pskiko.native.enabled=true -Dskiko.test.onci=true -Dskiko.test.performance.enabled=false :skiko:tvosSimulatorArm64Test

      - name: Upload Test Results
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: test-reports-tvos
          path: ./skiko/build/reports/tests
          retention-days: 5

  linux:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        name: 'Check out code'

      - uses: actions/setup-java@v3
        name: 'Set up JDK 21'
        with:
          distribution: 'adopt'
          java-version: '21'
          cache: 'gradle'

      - uses: nttld/setup-ndk@v1
        name: 'Set up Android NDK'
        id: setup-ndk
        with:
          ndk-version: r29

      - uses: android-actions/setup-android@v2
        name: 'Set up Android SDK'

      - shell: bash
        name: 'Set up Linux build environment'
        run: |
          sudo apt update -y
          sudo apt install libglu1-mesa-dev libxrandr-dev libdbus-1-dev -y
          sudo apt install gcc-aarch64-linux-gnu g++-aarch64-linux-gnu -y
          sudo Xvfb :0 -screen 0 1280x720x24 +extension GLX &

      # We have only ~4.5G left after installing everything required, and sometimes it's not enough to correctly run
      # skiko compilation and publishing. Removing unused software from the agent to free up space.
      # (it gives us ~13G)
      - name: Free up space on GitHub image
        run: |
          df -h
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf /opt/hostedtoolcache/CodeQL
          sudo docker image prune --all --force
          sudo docker builder prune -a
          df -h

      - shell: bash
        name: 'Compile and run Linux x64 tests'
        run: |
          export DISPLAY=:0
          ./gradlew --no-daemon --stacktrace --info -Pskiko.native.enabled=true -Pkotlin.native.cacheKind.linuxX64=none -Dskiko.test.onci=true -Dskiko.test.performance.enabled=false :skiko:linuxX64Test

      # Linux arm64 tests are executed on a separate runner
      - shell: bash
        name: 'Compile Linux arm64 tests'
        run: |
          ./gradlew --no-daemon --stacktrace --info -Pskiko.native.enabled=true -Dskiko.test.onci=true -Dskiko.test.performance.enabled=false :skiko:linkDebugTestLinuxArm64

      - shell: bash
        name: 'Compile and run AWT tests'
        run: |
          export DISPLAY=:0
          ./gradlew --no-daemon --stacktrace --info -Pskiko.native.enabled=true -Pkotlin.native.cacheKind.linuxX64=none -Dskiko.test.onci=true -Dskiko.test.performance.enabled=false :skiko:awtTest
        timeout-minutes: 25

      - shell: bash
        name: 'Publish to Maven Local, check AWT sample'
        env:
          ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}
        run: |
          ./gradlew --no-daemon --stacktrace --info -Pkotlin.native.cacheKind.linuxX64=none :skiko:publishToMavenLocal
          ./gradlew --no-daemon --stacktrace --info :SkiaAwtSample:installDist
          ./gradlew --no-daemon -Pskiko.android.enabled=true :skiko:publishSkikoJvmRuntimeAndroidX64PublicationToMavenLocal :skiko:publishSkikoJvmRuntimeAndroidArm64PublicationToMavenLocal :skiko:publishAndroidReleasePublicationToMavenLocal

      - uses: actions/upload-artifact@v4
        name: 'Save linuxArm64 test binary as artifact'
        with:
          name: test-binary-linuxArm64
          path: ./skiko/build/bin/linuxArm64
          if-no-files-found: error
          retention-days: 5

      - name: Upload Test Results
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: test-reports-linux
          path: |
            ./skiko/build/reports/tests
            ./skiko/src/jvmTest/screenshots/*_actual.png

      - name: Test Summary
        uses: test-summary/action@v2
        with:
          paths: "./skiko/build/test-results/**/TEST-*.xml"
        if: always()

  linux-arm:
    needs: linux
    runs-on: ubuntu-22.04-arm
    steps:
      - uses: actions/checkout@v3
        name: 'Check out code'

      - uses: actions/setup-java@v3
        name: 'Set up JDK 21'
        with:
          distribution: 'adopt'
          java-version: '21'
          cache: 'gradle'

      - uses: actions/download-artifact@v4
        with:
          name: test-binary-linuxArm64
          path: ./skiko/build/bin/linuxArm64

      - shell: bash
        name: 'Set up Linux build environment'
        run: |
          sudo apt update -y
          sudo apt install libglu1-mesa-dev libxrandr-dev libdbus-1-dev -y
          sudo Xvfb :0 -screen 0 1280x720x24 +extension GLX &

      - shell: bash
        name: 'Run Linux arm64 tests'
        working-directory: ./skiko
        run: |
          export DISPLAY=:0
          chmod +x ./build/bin/linuxArm64/debugTest/test.kexe
          ./build/bin/linuxArm64/debugTest/test.kexe

      - shell: bash
        name: 'Compile and run AWT tests'
        run: |
          export DISPLAY=:0
          ./gradlew --no-daemon --stacktrace --info -Dskiko.test.onci=true -Dskiko.test.performance.enabled=false :skiko:awtTest
        timeout-minutes: 25

      - shell: bash
        name: 'Publish to Maven Local, check AWT sample'
        run: |
          ./gradlew --no-daemon --stacktrace --info :skiko:publishToMavenLocal
          ./gradlew --no-daemon --stacktrace --info :SkiaAwtSample:installDist

      - name: Upload Test Results
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: test-reports-linux-arm
          path: |
            ./skiko/build/reports/tests
            ./skiko/src/jvmTest/screenshots/*_actual.png
          retention-days: 5

      - name: Test Summary
        uses: test-summary/action@v2
        with:
          paths: "./skiko/build/test-results/**/TEST-*.xml"
        if: always()

  windows:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v3
        name: 'Check out code'

      - uses: microsoft/setup-msbuild@v1

      - uses: ilammy/msvc-dev-cmd@v1

      - uses: actions/setup-java@v3
        name: 'Set up JDK 21'
        with:
          distribution: 'adopt'
          java-version: '21'
          cache: 'gradle'

      # OPENGL is ignored as it doesn't exist on the Windows GitHub agent
      - shell: bash
        name: 'Compile and run AWT tests'
        run: ./gradlew --stacktrace --info -Dskiko.test.onci=true -Dskiko.test.performance.enabled=false -Dskiko.test.ui.renderApi.ignoreAssertsFor=OPENGL :skiko:awtTest

      - shell: bash
        name: 'Publish to Maven Local, check AWT sample'
        run: |
          ./gradlew --stacktrace --info :skiko:publishToMavenLocal
          ./gradlew --stacktrace --info :SkiaAwtSample:installDist

      - name: Upload Test Results
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: test-reports-windows
          path: |
            ./skiko/build/reports/tests
            ./skiko/src/jvmTest/screenshots/*_actual.png
          retention-days: 5

      - name: Test Summary
        uses: test-summary/action@v2
        with:
          paths: "./skiko/build/test-results/**/TEST-*.xml"
        if: always()
