name: Post-Merge CI

on:
  workflow_dispatch: # Allow manual triggering
  push: # Trigger on pushes to master and release branches
    branches:
      - master
      - 'release/*'

jobs:
  docker-publish:
    name: 'Docker Publish'
    uses: ./.github/workflows/docker-publish.yml
    with:
      publish: true
      base_ref: ${{ github.event.before }}
    permissions:
      contents: read
      packages: write

  tests:
    name: 'Tests'
    needs: docker-publish
    uses: ./.github/workflows/tests.yml
    with:
      base_ref: ${{ github.event.before }}

  skiko-publish:
    name: 'Skiko Publish (Dry Run)'
    needs: docker-publish
    uses: ./.github/workflows/publish-dry-run.yml
    with:
      base_ref: ${{ github.event.before }}

  docs-publish:
    name: 'Documentation Publish'
    needs: docker-publish
    uses: ./.github/workflows/docs.yml
    with:
      publish: true
      base_ref: ${{ github.event.before }}
    secrets: inherit
