name: Skiko Publish Dry Run

on:
  workflow_call: # Allow being called by other workflows

jobs:
  Android:
    name: 'Android Publish Dry Run'
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        name: 'Check out code'

      - uses: ./.github/actions/setup-prerequisites
        name: 'Setup Prerequisites'

      - uses: ./.github/actions/docker-skiko-run
        name: 'Publish Maven Local'
        with:
          image_name: linux-compat
          command: |
            ./gradlew --no-daemon --stacktrace \
              -Pskiko.android.enabled=true \
              :skiko:publishToMavenLocal

      - uses: ./.github/actions/docker-skiko-run
        name: 'Check Android Sample'
        with:
          image_name: linux-compat
          working_directory: samples/SkiaAndroidSample
          command: |
            ./gradlew --no-daemon --stacktrace \
              --refresh-dependencies \
              packageRelease

  Web:
    name: 'Web Publish Dry Run'
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        name: 'Check out code'

      - uses: ./.github/actions/setup-prerequisites
        name: 'Setup Prerequisites'

      - uses: ./.github/actions/docker-skiko-run
        name: 'Publish Maven Local'
        with:
          image_name: linux-emscripten-amd64
          command: |
            ./gradlew --no-daemon --stacktrace \
              -Pskiko.wasm.enabled=true \
              :skiko:publishToMavenLocal

  Linux:
    name: 'Linux Publish Dry Run'
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        name: 'Check out code'

      - uses: ./.github/actions/setup-prerequisites
        name: 'Setup Prerequisites'

      - uses: ./.github/actions/docker-skiko-run
        name: 'Publish Maven Local'
        with:
          image_name: linux-compat
          command: |
            ./gradlew --no-daemon --stacktrace \
              -Pskiko.native.enabled=true \
              :skiko:publishToMavenLocal

      - uses: ./.github/actions/docker-skiko-run
        name: 'Check AWT Sample'
        with:
          image_name: linux-compat
          command: |
            ./gradlew --no-daemon --stacktrace \
              --refresh-dependencies \
              :SkiaAwtSample:installDist

  macOS:
    name: 'macOS Publish Dry Run'
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
        name: 'Check out code'

      - uses: actions/setup-java@v4
        name: 'Setup JDK 21'
        with:
          java-version: '21'
          distribution: 'corretto'

      - uses: ./.github/actions/setup-prerequisites
        name: 'Setup Prerequisites'

      - shell: bash
        name: 'Publish Maven Local'
        run: |
          ./gradlew --no-daemon --stacktrace \
            -Pskiko.native.enabled=true \
            :skiko:publishToMavenLocal

      - shell: bash
        name: 'Check AWT Sample'
        run: |
          ./gradlew --no-daemon --stacktrace \
            --refresh-dependencies \
            :SkiaAwtSample:installDist

  Windows:
    name: 'Windows Publish Dry Run'
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4
        name: 'Check out code'

      - uses: microsoft/setup-msbuild@v1

      - uses: ilammy/msvc-dev-cmd@v1

      - uses: actions/setup-java@v4
        name: 'Setup JDK 21'
        with:
          java-version: '21'
          distribution: 'corretto'

      - uses: ./.github/actions/setup-prerequisites
        name: 'Setup Prerequisites'

      - shell: bash
        name: 'Publish Maven Local'
        run: |
          ./gradlew --no-daemon --stacktrace \
            -Pskiko.native.enabled=true \
             :skiko:publishToMavenLocal

      - shell: bash
        name: 'Check AWT Sample'
        run: |
          ./gradlew --no-daemon --stacktrace \
            --refresh-dependencies \
            :SkiaAwtSample:installDist
